#kartta {
  height: 400px;
  border: solid;
}

.otsikko {
  position: relative;
  text-align: center;
  color: white;
}

.otsikon_teksti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
