body{
  background-color: #dce1e8;
}


#kartta {
  height: 400px;
  border: solid;
}

#paikkatietolomake{
  display: none;
}

.otsikko {
  position: relative;
  text-align: center;
  color: white;
}

.otsikon_teksti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.oma_nappi{
  background-color: #768a93;
  margin: 5px;
}
